.container {
  background: beige ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #474834;
  min-height: 135vh;
}

.search{
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: flex-start;
  background: beige ;
}

.menu{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: beige ;
}

.paragraph{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.0;
  background: beige ;
  color: #474834;
}

.paragraphtwo{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.0;
  background: beige ;
  color: #474834;

}

.paragraphthree{
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.0;
  background: beige ;
  color: #474834;
}

.AlertContainer{
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  border-radius: 4px;
  margin-bottom: 10px;
}

.success{
  background-color: #d7f8dc;
  color: #1c7222;
  border: 1px solid #d7f8dc;
}

.error{
  background-color: #f8d7d7;
  color: #721c1c;
  border: 1px solid #f8d7d7;
}

.dropdown{
  background: beige ;
  color: #474834;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #474834 solid;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Montserrat', sans-serif;
}

.dropdown:box{
  background: beige ;
  color: #474834;
}

.dropdown:click{
  border: 2px #474834 solid;
  box-shadow:0 0 0.8em #474834;  
}

.dropdown:hover{
  background: rgb(204, 204, 184) ;
}

.search-bar {
  width:  550px;
  height: 35px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 60px;
  border: 3px solid #474834;
  background: transparent;
  backdrop-filter: blur(500px);
  font-size: 20px;
  color: #474834;;
}

.search-button {
  background: #00C9B0;
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.button {
  background-color: #00C9B0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

.button:hover {
  background-color: #007663;
}

.button:active {
  background-color: #6af0e0;
}

.search-button:hover {
  background-color: #007663;
}

.search-button:active {
  background-color: #6af0e0;;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  float: right;
}

.popup {
  width: 400px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%) scale(0.1);
  background-color: #fff;
  padding: 0 30px 30px;
  border-radius: 6px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.popup img{
width: 100px;
margin-top: -50px;
border-radius: 50%;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.popup h2{
font-size: 38px;
font-weight: 500;
margin: 30px 0 10px;
font-family: 'Montserrat', sans-serif;
}

.popup button{
  background-color: #00C9B0;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2)
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 4px;
  cursor: pointer;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #e9e9e9;
}